
    

    

.footer {
    background-color: $footerBg;
    font-size: 1rem;
    max-height: 590px;

    @include breakpoint(large) {
        .footer {
            max-height: 391px;
         }
    }

&__grid {
    max-width: 1360px;
    padding-right: 27px;
    padding-left: 39px;
    display: flex;
    flex-direction: column;
    padding-top: 65px;



    @include breakpoint(medium) {
        padding-left: 52px;
        padding-right: 70px;
        flex-direction: column;
        padding-top: 92px;

        .flex_footer {
            max-width: 1090px;
            display: flex;
            flex-direction: row;
            justify-content:space-between;
        }  
        
     }
    
        @include breakpoint(large) {
            padding-left: 40px;
            padding-top: 109px;
            padding-bottom: 48px:
        }
    
    @include breakpoint(xlarge) {
        padding-left: 40px;
       
    }
}  
                  
.footer__logo {
    margin-bottom: 32px;
 }

.contact_devices {
    max-width: 222px;
    margin-bottom: 32px;

    .footer__contact-phone , .footer__mail{
        display: flex;
        margin-bottom: 16px;
        align-self: flex-start;
        
       a {
           margin-left: 18px;
           font-size: 1rem;
       }
    }
}

.footer__links1, .footer__links2 {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;



  a {
      padding-bottom: 16px;
      font-size: 1rem;
    }
  }

.footer__logo {
    max-width: 110px;
    margin-bottom: 20px;
}

.footer__social {
     display: flex;
    justify-content: center;
    
    svg {
      padding-right: 9px;
    }
  
}
       
&__logo {
    fill: #FFF;
    cursor: pointer;
}

&__text  {
    
    a {
       color: white;
       font-size: 1rem;
    }
 }

&__links1 {
   font-size: 1rem;
}

&__social {
    svg {
        height:28px;
        cursor: pointer;
        margin-bottom: 42px;
      }   
}
    
    #fylologo {
        @include breakpoint (large) {
            width: 171px;
            height: 50px;
         }   
    }   
}
 


