html {
    font-size: 100%;
    scroll-behavior: smooth;
}

*, *:after, *:before {
    box-sizing: border-box;
    
}

body {
    font-family: $font-body;
     margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 0.75rem;

    @include breakpoint(large){
        font-size: 1rem;
    } 

}

h1 {
    font-size: 2rem;
    font-family: $font-title;
   
    @include breakpoint(large) {
      font-size: 2rem;
    }

    @include breakpoint(mega) {
      font-size:2.5rem;
    }
}

h2 {
    font-size: 1.5rem;
    font-family: $font-title;
}

p {
    font-size: 1rem;
    font-family: $font-body;
}

 .container {
    max-width: 1440px;
    margin: 0 auto;
 }

 .logo {
    font-size: calc(1rem + 0.75vw);
 }


//  HEADER SECTION { Form styles }

 @include breakpoint(medium) {
    #signup-form {
     display: flex;
     align-items: center;
     gap: 10px;
     
    }
 }

 @include breakpoint(large) {
    #signup-form {
        display: flex; 

    }
 }

#mail {
    width: 100%;
    border-color: #07043B;
    width: 304px;
    height: 40px;
    font-size: 14px;
    margin-bottom: 16px;
    padding-top: 25px;
    border-radius: 4px;
    border: 1px solid;
    
    @include breakpoint(medium) {
        width: 16.5rem;
        height: 37px;
    }
    
        @include breakpoint(large) {
            flex: 0 0 320px;
            width: 320px;
            height: 45px;
            margin-top: 14px;
            margin-right: 16px;
            flex-shrink: 2;
    }
}




.button {
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 12px 113px;
    font-family:$font-title;
    font-weight: bold;
    font-size: 0.875rem;
    background-color:$btn;
    color: #fff;
    border-radius: 4px;
    height: 40px;

    
   @include breakpoint(large) {

    .flexbtn {
        flex-basis: 200px;
        flex-shrink: 2;
    }

    width: 200px;
    height: 45px;
    padding-top: 25px 61px;
    align-self:center;
   }
}
       
     
.footer {

    a {
        color: white;
      }
       a:hover  {
        color: $btnHover;
        transform: scale(1.1);
    }

    svg:hover path {
        // transform: rotate(36deg) translateX(180px);
        transform:rotateX(150deg);    
    }
}
   

#mail:focus {
    border: 1px solid red;
}

