 header {

    .nav {
         max-width:1500px;
         display: grid;
         grid-template-columns:minmax(110px, 1fr) repeat(3, auto);
         grid-gap: 25px;
         padding: 24px 24px 98px 24px;
         align-items: center;
     
         a {
           color: $headLinks;
         }
     
         @include breakpoint(medium) {
            padding-left: 50px;
            padding-right: 50px;
          
            a {
                font-size: 0.875rem;
            }
         }
     
            @include breakpoint(large) {
            padding-top: 65px;
            padding-bottom: 89px;
            padding-left: 80px;
            padding-right: 80px;
            grid-gap: 57px;

            a {
                font-size: 1rem;
                line-height:auto;
            }
        }
    }
          
     img {
         width:4.5em;
      
          @include breakpoint(small) {
            width:4.9em;
            
         }

         @include breakpoint(medium) {
            width:5.5em;
         }
     }
     
     @include breakpoint(large) {
         grid-gap: 58px;
 
         img {
             width:10.3125rem;
         }
     }
     a {
         color:$footerBg;
     }
 
     a:hover {
         text-decoration: underline;
     }
  }
   
 

    



       

  
  
